.grid-wrapper {
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.bio-col {
  grid-column: 1;
  grid-row: 1;
}

.bio-image-col {
  grid-column: 2;
  grid-row: 1;
}