@font-face {
  font-family: permanentMarker;
  src: url('./fonts/PermanentMarker-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.nav-box {
  background-image: url('../img/navbar.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em 0 1em 1em;
  height: 80px;
  align-content: center;
}

.name-logo {
  text-decoration: none;
  color: white;
  font-size: 36pt;
  font-family: permanentMarker;
}

.nav-item {
  margin-right: 1em;
  text-decoration: none;
  color: white;
  font-size: 24pt;
  float: right;
}